[submodule "Hardware/Libraries/kicad-lib"]
	path = Hardware/Libraries/kicad-lib
	url = https://github.com/UMDBPP/kicad-lib.git
	branch = main
[submodule "Firmware/gen_proj/vendor/CMSIS"]
	path = Firmware/gen_proj/vendor/CMSIS
	url = https://github.com/ARM-software/CMSIS_5
[submodule "Firmware/gen_proj/vendor/STM32L4_HAL"]
	path = Firmware/gen_proj/vendor/STM32L4_HAL
	url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git
[submodule "Firmware/T1000/nucleo_fram_test_stripped/Firmware/T1000/nucleo_fram_test_stripped/lib/littlefs"]
	path = Firmware/T1000/nucleo_fram_test_stripped/Firmware/T1000/nucleo_fram_test_stripped/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Firmware/T1000/Firmware/T1000/nucleo_fram_demo/Firmware/T1000/nucleo_fram_test_stripped/lib/littlefs"]
	path = Firmware/T1000/Firmware/T1000/nucleo_fram_demo/Firmware/T1000/nucleo_fram_test_stripped/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Firmware/T1000/nucleo_pwm_test/Firmware/T1000/nucleo_pwm_test/Firmware/T1000/nucleo_fram_test_stripped"]
	path = Firmware/T1000/nucleo_pwm_test/Firmware/T1000/nucleo_pwm_test/Firmware/T1000/nucleo_fram_test_stripped
	url = https://github.com/littlefs-project/littlefs.git
